#banner{
  width: 100%;
  min-width: 1200px;
  height: 657px;
  margin: auto;
  position: relative;
  background:url(../img/subbanner.jpg) center;
  background-size:cover;
  opacity: 1;
  overflow: hidden;
}

#banner::before{
  content:"";
  opacity:0.5;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: #000;
}

#banner::after{
  content:"";
  opacity:0.9;
  position:absolute;
  width: 1500px;
  height: 1500px;
  top: -250px;
  right: -150px;
  border-radius: 50%;
  background: linear-gradient(
     90deg, transparent 0%, rgba(127,181,255,0.5) 20%,#7fb5ff 50%,#7fb5ff 100%
     );
}

#banner > .form{
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
  bottom: 0;
}

#banner > .form > div{
  width: 600px;
  height: 540px;
  z-index: 998;
  position: relative;
}



#banner > .form > .login .wrap{
  position: relative;
  top: 360px;
  left: 100px;
  width: 380px;
  height: 74px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 13px 10px;
  padding-top: 18px;
}

#banner > .form .wrap img{
  position: absolute;
  top: -40px;
}

#banner > .form .wrap input{
  width: 355px;
  height: 35px;
  border: none;
  border: 1px solid #7fb5ff;
  border-radius: 20px;
  background-image: url('../img/search.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  text-indent: 50px;
}

#banner > .form .wrap .txt{
  width: 380px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #fff;
}

#banner > .form .wrap .txt>li.on{
  color: #7fb5ff;
}

#banner > .form > .txt{
  position: relative;
  top: 280px;
  left: 10px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#banner > .form > .txt img{
  position: absolute;
  left: 330px;
}

#banner > .form > .txt h1{
  font-size: 80px;
  font-weight: normal;
  color: #fff;
}


#banner > .form > .txt span{
  color: #f6f54d;
}

#banner > .form > .txt p{
  width: 320px;
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0;
}

#banner > .form > .txt b{
  font-weight: normal;
  color: #d4d1d1;
}


#banner > .form > .txt button{
  width: 118px;
  height: 30px;
  border: none;
  font-size: 12px;
  font-family: "HeaNam";
  background-color: #2b70cc;
  color: #fff;
}


#event{
  width: 100%;
  height:805px;
  position: relative;

}
#event .bg{
  width: 100%;
  min-width: 1200px;
  height: 182px;
  background:url(../img/banner1.jpg) center;
  background-size:cover;
  position:absolute;
  top:133px;
  left:0;
}

#event > .bg::before{
  content: "";
  display:block;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: black;
}

#event>.wrap{
  width: 1200px;
  margin: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#event>.wrap{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 25px;
  top: 75px;
}

#event>.wrap>.box{
  width: 350px;
  height: 270px;
  background-color: #fff;
  border: 2px solid #7fb5ff;
  border-radius: 50px 0 50px 0;
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 38px 32px;
  color: #575757;
  box-shadow: 10px 10px 0px rgba(3,3,3,0.3);
}

#event>.wrap>.box img{
  position: absolute;
}

#event>.wrap>.box h1{
  color: #7fb5ff;
  font-weight: normal;
  font-size: 24px;
  position: relative;
  left: 60px;
  margin-bottom: 60px;
  margin-top: 12px;
}

#event>.wrap>.box span{
  color: #afc70e;
}

#event>.wrap>.box p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

#event>.contents{
  position: absolute;
  width: 1000px;
  z-index: 999;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#event>.contents h1{
  color: #7fb5ff;
  font-weight: normal;
  font-size: 36px;
}

#event>.contents p{
  color: #6e6e6f;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin: 40px 0;
}

#event>.contents button{
  width: 270px;
  height: 70px;
  background-color: #2b70cc;
  border: none;
  font-family: "HeaNam";
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
